<!DOCTYPE html>
<html lang="en">
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: black;
    }

    svg {
        /* position: absolute; */
        display: block;
        margin: auto;
        pointer-events: none;
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: 2;
    }

    path {
        pointer-events: all;
        fill: black;
        stroke: white
    }

    path.jump {
        fill: #00ff00;
    }

    #routeList {
        position: absolute;
        background-color: white;
        top: 1em;
        left: 1em;
        padding: 1em;
        opacity: 0.4;
        z-index: 8;
    }

    #routeList:hover {
        opacity: 1;
    }

    .routeDetails{
        font-size: 0.8em;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route</title>
</head>

<body>
    <%- include('map') %>
        <div id="routeList"></div>
</body>
<script>
    window.onload = function () {
        const r = document.querySelector('#routeList');
        fetch('/route').then(res => {
            if (res.ok) {
                return res.json()
            }
            alert('Error')
        }).then(routes => {
            // console.log(res)

            for (route of routes) {
                console.log(route)
                if (route.countryCode) {
                    const p = document.querySelector(`#${route.countryCode}`);
                    r.appendChild(createJumpNode(route))
                    p && p.classList.add('jump');
                    // p.style.fill = p && "#00ff00";
                }
            }
        })
    }

    function createJumpNode(routePoint){
        const d=document.createElement('details');
        const s=document.createElement('summary');
        const det=document.createElement('span')
        det.className="routeDetails";

        det.innerHTML=`
        <b>as</b> ${routePoint.as} <br/>
        <b>city</b> ${routePoint.city} <br/>
        <b>country</b> ${routePoint.country} <br/>
        <b>isp</b> ${routePoint.isp} <br/>
        <b>lat</b> ${routePoint.lat} <br/>
        <b>lon</b> ${routePoint.lon} <br/>
        <b>ip</b> ${routePoint.query} <br/>
        `

        s.innerText=routePoint.country
        d.appendChild(s)
        d.appendChild(det)
        return d;
    }
</script>

</html>